*{
    color: white;}
nav {
    background-color:#131313 ;
    width: 100%;

}
.vector{
    background-position: left;
    width: 10%;
}
.head{
    font-family: Kdam Thmor Pro
    , Geneva, Tahoma, sans-serif;
    font-size: 70px;
}
.head2{
    font-family: Kdam Thmor Pro
    , Geneva, Tahoma, sans-serif;
    font-size: 40px;}
main{
    background-color: #131313;
}
.left{
    text-align: left;
}
footer{
    background-color: #1F1F1F;
}
li{
    color: white;
    list-style-type: none;
    font-weight: bold;
}