body{
    background-color:#131313 ;
    color: white;
    font-family: sans-serif;
}
nav{
    text-align: le;
}
nav a{
    text-decoration: none;
    color: white;
    float: left;
    padding: 30px;
}
.sec1{
    background-color: #5888F1;
    padding: 20px;
    border-radius: 10px;
    margin: 0%;
}
.vector{
    text-align: center;
}
#c1 , #c2{
    text-align: center;
}
#c2{
    text-transform: uppercase;
}
.img1{
    text-align: center;
}
.ctext{
    text-align: left;
}
footer{
    background-color: #1F1F1F;
}
h1{
    font-weight: bolder;
    font-size: 300%;
}
p{
    font-size: 200%;
    font-weight: 90;
}
.mid h1{
    text-transform: uppercase;
}
